{% extends 'STAFF/index.html' %}
{% block body %}

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/update_profile">Update Profile</a></td>
  </tr>
  <tr>
    <td><a href="/manage_studymaterial">Add and Manage Study materials </a></td>
  </tr>
  <tr>
    <td><a href="/manage_internalmark">Add or Manage Internal marks</a></td>
  </tr>
  <tr>
    <td><a href="/view_status">Send leave request and view status</a></td>
  </tr>
  <tr>
    <td><p><a href="/view_assign_sub">View Assigned Subjects</a></p>
    </td>
  </tr>
  <tr>
    <td><a href="/view_studentattendance">View Student Attendance </a></td>
  </tr>
  <tr>
    <td><a href="/view_timetable">View Timetable </a></td>
  </tr>
  <tr>
    <td><a href="#">View other staff notification </a></td>
  </tr>
  <tr>
    <td><a href="#">Staff notification Management </a></td>
  </tr>
  <tr>
    <td><a href="#">Get spot notification </a></td>
  </tr>
  <tr>
    <td><a href="#">Interaction with students </a></td>
  </tr>
  <tr>
    <td><a href="/staff_change_password">Change Password </a></td>
  </tr>
</table>
</body>
{% endblock %}