{% extends 'ADMIN/index.html' %}
{% block body %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Admin home</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <td><a href="/manage_dept">Add or Manage dept </a></td>
  </tr>
  <tr>
    <td><a href="/manage_course">Add or Manage course </a></td>
  </tr>
  <tr>
    <td><a href="/assign_subject">Assign Subject to Staff </a></td>
  </tr>
  <tr>
    <td><a href="/manage_timetable">Manage Timetable </a></td>
  </tr>
  <tr>
    <td><a href="/manage_staff">Manage Staff </a></td>
  </tr>
  <tr>
    <td><a href="/manage_student">Manage Student </a></td>
  </tr>
  <tr>
    <td><a href="/view_complaints">View complaint &amp; send reply </a></td>
  </tr>
  <tr>
    <td><a href="#">View Staff Performance </a></td>
  </tr>
  <tr>
    <td><a href="/view_feedback">View Feedback </a></td>
  </tr>
  <tr>
    <td><a href="/leave_request">View Leave request and Verify </a></td>
  </tr>
  <tr>
    <td><a href="/manage_subject">Add or Manage Subject </a></td>
  </tr>
</table>
</body>
{% endblock %}